# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.vcxproj
*.vcxproj.filters
Debug/
A-small-attempt0.in
B-small-attempt0.in

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
